name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  SNAPSHOT_ARTIFACTS: ${{ github.workspace }}/snapshots
  TEST_RUNNER_SNAPSHOT_ARTIFACTS: ${{ github.workspace }}/snapshots

jobs:
  build:
    runs-on: macos-15
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Select Xcode 26.2
      run: ls -l /Applications && sudo xcode-select -s /Applications/Xcode_26.2.app
    - name: Build, test, and code coverage
      run: env && make
